.container{
    min-height: 100vh;
    background-color: #F1EEEE;
}

.C3container{
    margin: 20px 100px;
    background-color: #FFFFFF;
}

.container .C3container .top-btn{
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
    padding:50px  20px;
    background-color: #ffff;
}

.container .C3container .top-btn a{
    border-radius: 5px;
    padding: 10px 10px;
    color: aliceblue;
    text-decoration: none;
    background-color: #374AF9;
    cursor: pointer;
}

.container .C3container .top-btn .disable{
    background-color: #B9B9C3;
    color: #646464;
    cursor: progress;
}

.C3container .Data-Table{
    padding: 0px 0px;
    background-color: #ffff;
}
.C3container table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.C3container th{
    background-color: #9B9B9BC9;
}


.C3container th, .C3container td {
    text-align: left;
    padding: 30px 40px;
    color: #000;
    font-size: 15px;
}

.C3container tr{
    background-color: #f2f2f2;
    border-bottom: solid 1px black;
}

.C3container .Data-Table span{
    color: #000;
    font-size: smaller;
    padding: 0px;
    background-color: #F1EEEE;
}