.IVtable tr{
    background-color: #fff;
    border-bottom: solid 1px black;
}

.IVtable th{
    background-color: #9B9B9BC9;
    font-size: 20px;
    font-weight: 400;
}
.IVtable th {
    text-align: left;
    padding: 20px;
}
.IVtable td{
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

.IVtable span{
    color: #374AF9;
    background-color: #ffff;
    font-size: 15px;
    font-weight: 400;
    padding: 0px;
}

/*-----------------------------------------*/

.overview-content {
    margin: 20px 100px;
    padding: 20px;
    margin-bottom: 0px;
}

.ins {
    display: flex;
    align-items: center;
    gap: 20px;
    select {
        width: 30%
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter p span {
    display: inline-block;
}
.filter p span:nth-child(2) {
    padding: 8px;
    background-color: white;
    border: 1px solid #777;
    text-align: center;
    cursor: pointer;
}
.filter p span:nth-child(3) {
    padding: 8px;
    background-color: #28C76F;
    border: 1px solid #28C76F;
    color: white;
    cursor: pointer;
    text-align: center;
}

.alert-popup {
    border-left: 8px solid #FFA825;
    padding: 12px;
    background-color: white;
    i {
        margin-right: 8px;
        color: #FFA825;
        font-size: 24px;
    }
}